<h2 class="text-center m-5">Report</h2>
<section class="col-8 offset-2 col-sm-6 offset-sm-3">
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">Sr.no</th>
            <th scope="col">Level</th>
            <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <% @readings&.each_with_index do |reading, index| %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= reading.level %></td>
                    <td><%= reading.reading_date %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">Maximum</th>
            <th scope="col">Minimum</th>
            <th scope="col">Average</th>
            </tr>
        </thead>
        <tbody>
            <% if @readings.present? %>
                <tr>
                    <td><%= @maximum %></td>
                    <td><%= @minimum %></td>
                    <td><%= @average.round(2) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to('Back', generate_report_path, class: 'btn btn-secondary mb-5') %>
</section>

